.card-img-top--book {
  height: 152px;
  background-color: silver;
  position: relative;
  cursor: pointer;
  &:before {
    content: "Books image";
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 38%;
    top: calc(50% - 12px);
  }
}

.charts-wrap {
  display: block;
  width: 100%;
  height: auto;
}

ngb-pagination .pagination {
  flex-wrap: wrap;
}
